<!-- [innerText]= "(hero.alive===false) ? '✝' : ''" -->
<div>
    <span *ngIf= "hero.alive === false">✝</span>
    <h3 style="display: inline; margin-right: 4px" [ngStyle]= "(hero.alive === false) ? {
        'color' : 'gray', 
        'font-style': 'italic'} : {}" id="heroName">{{hero.heroName}}</h3>
    <small [ngStyle]= "{'color': (hero.universe === 'DC') ? 'blue' : 'red'}">({{hero.universe}})</small>
    <small (click)="showID()" style="cursor: pointer;" title="Ver identidade secreta">👁️</small>
    <small (click)="onEdit()" style="cursor: pointer;" title="Ver identidade secreta">✏️</small>
    <small (click)="onDelete()" style="cursor: pointer;" title="Ver identidade secreta">🗑️</small>
</div>